
@font-face{
  font-family: "Karbon";
  src: url(../assets/Fonts/karbon-regular-webfont.ttf);
}

@font-face {
  font-family: "Karbon";
  src: url(../assets/Fonts/karbon-semibold-webfont.ttf);
  font-weight:bold;
}
